<%- include('partials/header.ejs') %> <%- include('partials/modals.ejs') %>

<div id='main-grid'>
  <div id='topnav' class='navbar'></div>
  <div id='listmenu-container' class='navbar v-flex'>
    <% for (list of lists){ %>
    <div class='list-container'>
      <div class='listmenu-item'><%= list.name %></div>
      <div class='list-option'>
        <img class='btn rm-list' src='/images/trash.png' alt='Delete list' />
      </div>
    </div>
    <% } %>
  </div>
  <div id='tasklist-container' class='v-flex'>
    <form action='/taskComplete' method='POST' id='checkboxForm'>
    <% for (let i = 0; i < lists[currentList].tasks.length; i++) { %>
      <div class='task-container h-flex'>
        <div class='checkbox-container'>
          <input type='checkbox' id='task<%= i %>' class='task-checkbox' name='taskCheckbox' value=<%= i %> <% if (lists[currentList].tasks[i].completed) { %>checked<% } %>>
        </div>
        <% if (lists[currentList].tasks[i].completed === true) { %>
        <div class='task-text'><s><%= lists[currentList].tasks[i].text %></s></div>
        <% } else { %>
        <div class='task-text'><%= lists[currentList].tasks[i].text %></div>
        <% } %>
        <div class='btn-container h-flex'>
          <img
            class='btn edit-task'
            src='/images/pencil.png'
            alt='Add a new task'
          />
          <img class='btn rm-task' src='/images/trash.png' alt='Remove task' />
        </div>
      </div>
    <% } %>
    </form>
    <div class='task-container h-flex'>
      <div class='checkbox-div'></div>
      <div class='task-text'></div>
      <div class='btn-container'>
        <img class='btn add-task' src='/images/plus.png' alt='Add a new task' />
      </div>
    </div>
  </div>
  <div class='add-list list-flex'>
    <div class='list-item'>Add list</div>
    <div class-='list-option'>
      <img class='icon add-list' src='/images/plus.png' alt='Add list' />
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
